/* GENERAL */
body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    background: #1d2b1b;
    color: #111;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #273822;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.logo {
    color: white;
    font-size: 26px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.2s;
}

.nav-links a:hover {
    opacity: 0.7;
}

/* LOGIN SECTION */
.login-section {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.login-box {
    background: #f7f2e7;
    width: 600px;
    padding: 40px;
    border: 3px solid #344734;
    border-radius: 6px;
    text-align: center;
}

.login-box h3 {
    margin-bottom: 25px;
    font-weight: bold;
    color: #111;
}

/* INPUTS */
label {
    display: block;
    text-align: left;
    font-weight: bold;
    color: #111;
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #a5a5a5;
    margin-top: 5px;
    background: #fff;
}

input:focus {
    border-color: #344734;
    outline: none;
}

/* BUTTON */
button {
    width: 180px;
    margin-top: 25px;
    padding: 12px;
    background: #344734;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.25s;
    font-size: 16px;
}

button:hover {
    background: #273822;
    transform: scale(1.03);
}

/* TEXT LINKS */
.small-links {
    margin-top: 18px;
}

.small-links a {
    text-decoration: none;
    color: #1d4f1d;
    font-weight: bold;
}

.small-links a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    background: #273822;
    margin-top: 60px;
    padding: 20px;
    color: white;
    text-align: center;
}

.footer-content {
    font-size: 14px;
}
/* SMALL LOGO */
.logo-area {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 80px;        /* SMALL CLEAN LOGO */
    height: 80px;
    object-fit: contain;
    border-radius: 10px; /* removes sharp edges if image is square */
}
.logo-text {
    color: white;
    font-size: 18px;
    margin-left: 8px;
}


