/* RESET */

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e5e5d8;
}

/* NAVIGATION BAR */
.navbar {
    background-color: #43523d;
    padding: 15px 40px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    color: white; 

}

.logo{
    font-weight: bold;
    font-size: 20px; 

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px; 
}

.nav-links a {
    color: white; 
    text-decoration: none; 
    font-weight: 500; 
}

/* ABOUT SECTION */
.about-section {
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    padding: 60px 100px;
    background-color: #5f7053;
    color: white; 
    gap: 40px;
    
}

.image-placeholder img{
    width: 100%;
    max-width: 520px;
    height: auto; 
    border-radius: 10px;
   
}

.about-text {
    max-width: 720px;
    line-height: 1.6;
    margin-left: 450px; 
}

.about-text h2 {
    margin-bottom: 15px; 
}

.about-text h3 {
    margin-top: 20px; 
    margin-bottom: 5px; 
}

/* VALUES SECTION */
.values-section{
    padding: 40px; 
    background-color: #e7e4c7; 
    text-align: center; 
}

.values-container {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
    margin-top: 30px; 
}

.value-box {
    background-color: #fff; 
    padding: 20px; 
    flex: 1; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

/* FOOTER */ 
.footer {
    background-color: #3e4b3a;
    color: white; 
    padding: 20px 30px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 10px; 
}

.footer a{
    color:white; 
    text-decoration: none; 
}

/* --RESPONSIVE DESIGN */ 
/*TABLET */ 
@media (max-width: 900px){
    .about-section {
        flex-direction: column; 
        text-align: center; 
        align-items: center;

    } 

    .values-container {
        flex-direction: column; 
        align-items: center;
    }
        .value-box{
            width: 100%; 
            max-width: 500px;
        }

    
}

/*MOBILE */

@media (max-wdith: 600px) {
    .navbar{
        flex-direction: column; 
        gap: 10px;
        text-align: center; 
    }

    .nav-links{
        flex-direction: column; 
        gap: 8px; 
        align-items: center; 
    }

    .footer{ 
        flex-direction: column; 
        text-align: center; 
    }
}